@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width:1300px;
  margin:0 auto
}

a.active hr {
  display: block;
}

body {
  font-family: Outfit;
  font-weight:300;
  font-style: normal;
}

.font-prata{
  font-family: "Prata", serif;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    color: #7a3b12;
    font-weight:500
  }
  a.active::before {
    color: #7a3b12;
    font-weight:500
  }
}

.swiper-pagination-bullet-active {
  background-color: #7a3b12; /* Blue for active dot */
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}
button{
  text-align:center
}

.py-16{
  padding-left:16px;
  padding-right:16px
}

@media (min-width:768px){
.py-16{
  padding-left:30px;
  padding-right:30px
}}


